xml/last.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="patternlist">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pattern">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" type="xsd:int" />
              <xsd:element name="activating" type="xsd:int" />
              <xsd:element name="hops" type="xsd:int" />
              <xsd:element name="nodes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="node">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="id" type="xsd:int" />
                          <xsd:element name="labels">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="label" type="xsd:int" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="active_occurrences">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="occurrence">
                                  <xsd:complexType>
                                    <xsd:attribute name="tid" type="xsd:int" />
                                    <xsd:attribute name="weight" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="inactive_occurrences">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="occurrence">
                                  <xsd:complexType>
                                    <xsd:attribute name="tid" type="xsd:int" />
                                    <xsd:attribute name="weight" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="weight" type="xsd:int" />
                          <xsd:element name="deleted" type="xsd:int" />
                          <xsd:element name="optional" type="xsd:int" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="edges">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="edge">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="from" type="xsd:int" />
                          <xsd:element name="to" type="xsd:int" />
                          <xsd:element name="labels">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="label" type="xsd:int" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="active_occurrences">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="occurrence">
                                  <xsd:complexType>
                                    <xsd:attribute name="tid" type="xsd:int" />
                                    <xsd:attribute name="weight" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="inactive_occurrences">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="occurrence">
                                  <xsd:complexType>
                                    <xsd:attribute name="tid" type="xsd:int" />
                                    <xsd:attribute name="weight" type="xsd:int" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="weight" type="xsd:int" />
                          <xsd:element name="deleted" type="xsd:int" />
                          <xsd:element name="optional" type="xsd:int" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
